{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <style>
        .btn {
            border-radius: 0;
        }
    </style>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2 style="text-align: center">Add New Task</h2>
            <form class="form-0" id="todo_form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <input class="btn-0" type="submit" value="Add">
                </div>
            </form>
        </div>
        <div class="card col-xs-12 col-md-8 pull-right">
            <h2 style="text-align: center">Recent Activity</h2>
            {% if activities.count == 0 %}
                <h3 style="text-align: center; color: #797070">
                    No records
                </h3>
            {% else %}
                <div>
                    <ul class="list-group">
                        {% for object in activities %}
                            <li style="text-align: center; overflow-wrap: break-word;" class="list-group-item">{{ object.message }}
                                on {{ object.created_at|date:'d M, Y' }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>

    <div style="padding-left: 3%;" class="row">
        <form method="post">
            {% csrf_token %}
            <button class="col-xs-6 col-sm-3 col-md-2 btn btn-primary" name="order-by-name">Order by Name</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <button class="col-xs-6 col-sm-3 col-md-2 btn btn-primary" name="show-completed">Show Completed</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <button class="col-xs-6 col-sm-3 col-md-2 btn btn-primary" name="order-by-date">Order By Date</button>
        </form>

        <form method="post">
            {% csrf_token %}
            <button class="col-xs-6 col-sm-3 col-md-2 btn btn-success pull-right">Save Changes</button>
    </div>
    {% if obj.count == 0 %}
        <h2 style="text-align: center; color: #797070">No records</h2>
    {% else %}
        <div class="row col-sm-12 col-xs-12 col-md-12"
             style="margin-left: 5px; height: 255px; overflow-x: hidden; overflow-y: scroll; margin-top: 10px;">

            <ul class="card-body list-group">
                {% for object in obj %}
                    <li class="list-group-item row">

                        <input class="col-xs-1 col-md-1 checkbox-inline pull-left"
                               title="Mark as Completed" name="{{ object.id }}" type="checkbox">

                        <p class="col-xs-4 col-md-8" style="align-content: left; overflow-wrap: break-word;">
                            {{ object.title }}
                        </p>
                        <p class="col-xs-5 col-md-2">
                            {{ object.deadline|date:'d M, Y' }}
                        </p>
                        <a class="pull-right col-md-1"
                           style="color: red !important; position: absolute;right: 10px; top: 7px;"
                           href="{% url 'del_todo' id=object.id %}"><i class="fa fa-trash"
                                                                       aria-hidden="true"></i></a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        </form>
    {% endif %}
    <script>
        {% for object in obj %}
            if ("{{ object.completed }}" === "1") {
                $('[name={{ object.id }}]').attr('checked', 'checked');
            }
        {% endfor %}
    </script>
{% endblock %}