{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <style>
        .btn {
            border-radius: 0;
        }
    </style>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2 style="text-align: center">Add New Task</h2>
            <form class="form-0" id="todo_form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <input class="btn-0" type="submit" value="Add">
                </div>
            </form>
        </div>
        <div class="card col-xs-12 col-md-8 pull-right">
            <h2 style="text-align: center">Recent Activity</h2>
            {% if activities.count == 0 %}
                <h3 style="text-align: center; color: #797070">
                    No records
                </h3>
            {% else %}
                <div>
                    <ul class="list-group">
                        {% for object in activities %}
                            <li style="text-align: center; overflow-wrap: break-word;"
                                class="list-group-item">{{ object.message }}
                                on {{ object.created_at }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

    </div>

    <div style="padding-left: 3%;" class="row">
        <form method="post">
            {% csrf_token %}
            <button class="col-xs-6 col-sm-3 col-md-2 btn btn-info" name="show-completed">Show Completed</button>
        </form>
        <form method="post">
            {% csrf_token %}
            <button class="col-xs-6 col-sm-3 col-md-2 btn btn-info pull-right" name="show-all">Show All</button>
        </form>
    </div>
        <form method="post">
            {% csrf_token %}
        <table id="todo-table" class="table table-responsive">
            <thead>
            <tr class="row">
                <th class="col-xs-1"><a href="#" style="color: #333;">#ID <span class="fa fa-sort"></span></a></th>
                <th class="col-xs-1">Completed</th>
                <th class="col-xs-6"><a href="#" style="color: #333;">Title <span class="fa fa-sort"></span></a></th>

                <th class="col-xs-3"><a href="#" style="color: #333;">Deadline <span class="fa fa-sort"></span></a></th>
                <th class="col-xs-1">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for object in obj %}
                <tr class="row">
                    <!-- <th scope="row">1</th> -->
                    <td class="col-xs-1">{{ forloop.counter }}</td>
                    <td class="col-xs-1"><input title="Mark as Completed" value="{{ object.completed }}" name="{{ object.id }}" type="checkbox"></td>
                    <td class="col-xs-6" style="overflow-wrap: break-word">{{ object.title }}</td>
                    <td class="col-xs-3">{{ object.deadline|date:'d M, Y'}}</td>
                    <td class="col-xs-1"><a style="color: red !important;"
                                              href="{% url 'del_todo' id=object.id %}"><span
                            class="fa fa-trash" aria-hidden="true"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <button class="btn btn-success" style="width: 100%">Save Changes</button>
            </div>
            <div class="col-xs-2"></div>
        </div>
        </form>
    <script>
        $(document).ready(function () {
            $('#todo-table').DataTable({
                "scrollY": "180px",
                "scrollCollapse": true,
                "paging": false,
                "searching": false,
                "bPaginate": false,
                "bFilter": false,
                "bInfo": false
            });
        });

        {% for object in obj %}
            if ("{{ object.completed }}" === "1") {
                $('[name={{ object.id }}]').attr('checked', 'checked');
            }
        {% endfor %}
    </script>
{% endblock %}